.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

/* https://css-loaders.com/spinner/ */
.loader {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 8px solid lightblue;
  border-right-color: orange;
  animation: l2 1s infinite linear;

  margin: 100px auto;
}

@keyframes l2 {
  to {
    transform: rotate(1turn);
  }
}
